# Dev environment
pip
autopep8
pyautogui
selenium

# Video downloading
yt-dlp

# Streamlit
streamlit
plotly

# Voice input and AI
google-generativeai

# Google Sheets integration
google-api-python-client
google-auth-oauthlib
google-auth
google-auth-httplib2
