# Dev environment
pip
autopep8
pyautogui
selenium

# Video downloading
yt-dlp

# Streamlit
streamlit

# Google Sheets integration
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client